
<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs') %>
<body>
    <div class="container">
        <h1>Sistema de Perguntas</h1>

        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="/perguntar">Perguntar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          
        </div>
          
        <div class="container">
          <hr>
          <h2>Página da Pergunta</h2>
          <hr>
            <ul>
              <h3>TÍTULO: <%= pergunta.titulo %></h3>
              <h2> <%= pergunta.descricao %></h2>
            </ul> 
            <div class="card-footer">
              <button class="btn btn-secondary">Responder</button>
            </div>
        </div>

</body>
<%- include('./partials/footer.ejs') %>